<script lang="ts">
  let text = "";
  let shift = false;

  let primogems = 1600;
  let firstTimeBonus = true;

  // This is simplified, I can't be bothered to do all the calculations manually, though.
  const FIVE_STARS = ["e", "a"];
  const FOUR_STARS = ["i", "u", "o", "y", "t", "h", "r", "s"];
  const THREE_STARS = [
    "b",
    "c",
    "d",
    "f",
    "g",
    "j",
    "k",
    "l",
    "m",
    "n",
    "p",
    "q",
    "v",
    "w",
    "x",
    "z",
  ];

  const FOUR_STAR_PITY = 9;
  const FIVE_STAR_PITY = 78;
  const MAX_LETTERS = 30;

  let current4Pity = 0;
  let current5Pity = 0;

  const rollLetter = () => {
    // check for 5 star hard pity
    if (current5Pity + 1 >= FIVE_STAR_PITY) {
      current5Pity = 0;
      current4Pity = current4Pity + 1;
      return {
        rarity: 5,
        letter: FIVE_STARS[Math.floor(Math.random() * FIVE_STARS.length)],
      };
    }

    // check for 4 star hard pity--this can also be a 5 star though
    if (current4Pity + 1 >= FOUR_STAR_PITY) {
      if (Math.random() <= 0.006) {
        current5Pity = 0;
        current4Pity = current4Pity + 1;
        return {
          rarity: 5,
          letter: FIVE_STARS[Math.floor(Math.random() * FIVE_STARS.length)],
        };
      }

      current4Pity = 0;
      current5Pity = current5Pity + 1;
      return {
        rarity: 4,
        letter: FOUR_STARS[Math.floor(Math.random() * FOUR_STARS.length)],
      };
    }

    // did the user randomly roll a 5 star?
    if (Math.random() <= 0.006) {
      current5Pity = 0;
      current4Pity = current4Pity + 1;
      return {
        rarity: 5,
        letter: FIVE_STARS[Math.floor(Math.random() * FIVE_STARS.length)],
      };
    }

    // did the user randomly roll a 4 star?
    if (Math.random() <= 0.051) {
      current4Pity = 0;
      current5Pity = current5Pity + 1;
      return {
        rarity: 4,
        letter: FOUR_STARS[Math.floor(Math.random() * FOUR_STARS.length)],
      };
    }

    // they only rolled a 3 star, sucks to be them
    current5Pity = current5Pity + 1;
    current4Pity = current4Pity + 1;
    return {
      rarity: 3,
      letter: THREE_STARS[Math.floor(Math.random() * THREE_STARS.length)],
    };
  };

  let letters: Array<{ letter: string; rarity: number }> = [];

  const useLetter = (index: number) => {
    const letter = letters[index].letter;
    text = text + (shift ? letter.toUpperCase() : letter)
    letters.splice(index, 1);
    letters = [...letters];
  };

  const addCharacter = (char: string) => {
    text = text + char;
  };

  const deleteCharacter = () => {
    text = text.slice(0, text.length - 1);
  };

  const wishOne = () => {
    if (primogems < 160) {
      alert("You do not have enough primogems.");
      return;
    }

    if (letters.length + 1 > MAX_LETTERS) {
      alert(
        "You already have too many letters, use some before you wish again."
      );
      return;
    }

    primogems = primogems - 160;
    letters = [...letters, rollLetter()];
  };

  const wishTen = () => {
    if (primogems < 1600) {
      alert("You do not have enough primogems.");
      return;
    }

    if (letters.length + 10 > MAX_LETTERS) {
      alert(
        "You already have too many letters, use some before you wish again."
      );
      return;
    }

    primogems = primogems - 1600;
    for (let i = 0; i < 10; i++) {
      letters = [...letters, rollLetter()];
    }
  };

  const spendTooMuchMoney = () => {
    primogems += firstTimeBonus ? 12960 : 8080;
    firstTimeBonus = false;
  };

  const burnYourMoney = () => {
    letters = [];
  };
</script>

<main>
  <h1>Geditorshin Impact</h1>

  <div class="card">
    <p>
      <textarea rows={20} cols={80} readonly value={text + "‸"} />
    </p>
    <p>
      {#each letters as letter, index}
        <button on:click={() => useLetter(index)}>
          {shift ? letter.letter.toUpperCase() : letter.letter}
          {#if letter.rarity == 4 || letter.rarity == 5}
            ({letter.rarity}★)
          {/if}
        </button>
      {:else}
        You have no letters! Wish now?
      {/each}
    </p>
    <p>
      <button on:click={() => wishOne()}>Wish x1</button>
      <button on:click={() => wishTen()}>Wish x10</button>
    </p>
    <p>
      Current primogems: {primogems} / Current 5★ pity: {current5Pity} / Current
      4★ pity: {current4Pity}
    </p>
    <p>
      <button on:click={() => spendTooMuchMoney()}
        >Buy {firstTimeBonus ? 12960 : 8080} primogems: $99.99</button
      >
      <button on:click={() => burnYourMoney()}>Remove all your letters</button>
    </p>
    <p>
      <button on:click={() => deleteCharacter()}>Backspace</button>
      <button on:click={() => (shift = !shift)}>
        {shift ? "Unshift" : "Shift"}
      </button>
      <button on:click={() => addCharacter("\n")}>Enter</button>
      <button on:click={() => addCharacter(" ")}>Space</button>
    </p>
    <p>
      <button on:click={() => addCharacter("{")}>&#123;</button>
      <button on:click={() => addCharacter("}")}>&#125;</button>
      <button on:click={() => addCharacter("(")}>&#40;</button>
      <button on:click={() => addCharacter(")")}>&#41;</button>
      <button on:click={() => addCharacter(".")}>.</button>
      <button on:click={() => addCharacter(",")}>,</button>
      <button on:click={() => addCharacter(";")}>;</button>
      <button on:click={() => addCharacter(":")}>:</button>
      <button on:click={() => addCharacter('"')}>"</button>
      <button on:click={() => addCharacter("'")}>'</button>
    </p>
  </div>
</main>
